<div id="trv-sidebar-left">
    <hr>
    <h1> Maldives Liveaboards </h1>
  {{#foreach posts}}
                {{#has tag="boats"}}   
                <span class="trv-tiny">   
                 <div>     
<!--                   <a href="{{url absolute="true"}}"> <span class="trv-promo-title">{{title}} </span> </a>
 -->                          {{content}}
                  </div> 
                </span>
                {{/has}}
    {{/foreach}}    
</div>    
